services:
  backend:
    build:
      context: .
      dockerfile: Server/Dockerfile
    container_name: backend_api
    restart: unless-stopped
    ports:
      - "${FLASK_PORT:-8000}:8000"
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT:-5432}
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Web/Dockerfile
    container_name: frontend_app
    restart: unless-stopped
    ports:
      - "${FRONTEND_PORT:-5173}:5173"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

